[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# https://github.com/fsspec/s3fs/issues/357#issuecomment-840702828
aiobotocore = {version = "*", extras = ["boto3"]}
s3fs = ">=2022.3.0"
django-storages = "*"
pandas = "*"
packaging = "*"
beautifulsoup4 = "*"
django-autocomplete-light="*"
dj-database-url = "*"
django-clone = "*"
django-mysql = "*"
django-cors-headers = "*"
django-filter = "*"
django-formtools = "*"
django-extensions = "*"
django-test-migrations = "*"
djangorestframework-csv = "*"
djangorestframework-gis = "*"
drf-extensions = "*"
docutils = "*"
ijson = "*"
lxml = "*"
xmltodict = "*"
jsonpath-rw-ext = "*"
parsedatetime = "*"
python-dateutil = "*"
python-logstash = "*"
requests = "*"
requests-oauthlib = "*"
django-model-utils = "*"
bidict = "*"
drf-nested-routers = "*"
django-viewflow = "*"
django-import-export = {extras = ["all"], version = "*"}
django-countries = "*"
django-object-actions = "*"
django-admin-numeric-filter = "*"
django-admin-rangefilter = "*"
django-bootstrap-datepicker-plus = ">=5.0.4"
django-ipware = "*"
jsonschema = "*"
sentry-sdk = {version = "*", extras = ["django", "celery"]}
djrill = "*"
piexif = "*"
jsonfield = "*"
unicodecsv = "*"
django-versatileimagefield = "*"
django-select2 = "*"
django-colorful = "*"
django-timezone-field = ">=6.1.0"
suds-py3 = "*"
semver = "*"
python-magic = "*"
image = "*"
progressbar2 = "*"
model-bakery = "*"
django-annoying = "*"
django-safedelete = "*"
django-notifications-hq = "*"
chevron = "*"
google-auth = "*"
django-modeltranslation = "*"
celery = {extras = ["sqs"], version = "*"}
kombu = "*"
django-celery-beat = "*"
django-money = "*"
djangorestframework = "*"
django-migration-linter = "*"
django-deprecate-fields = "*"
social-auth-core = "*"
social-auth-app-django = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"
crispy-bootstrap3 = "*"
django-tables2 = "*"
django-extra-views = "*"
django-map-widgets = "*"
pysolr = "*"
django-settings-export = "*"
simple-salesforce = "*"
salesforce-bulk = "*"
python-box = "*"
django-basicauth = "*"
django-debug-toolbar = "*"
coverage = "*"
mock = "*"
responses = "*"
httpretty = "*"
tblib = "*"
bpython = "*"
ipdb = "*"
werkzeug = "*"
drf-yasg = "*"
guess_language-spirit = "*"
WeasyPrint = "*"
uWSGI = "*"
mysqlclient = "*"
Django = ">=5.0,<5.1"
service_identity = "*"
Faker = "*"
Unidecode = "*"
openpyxl = "*"
gender-guesser = "*"
gspread = "*"
django-simple-history = "*"
gdal = "==3.2.2.1"
slack_sdk = "*"
playwright = "*"
furl = "*"
openai = "*"
html2text = "*"
django-nested-admin = "*"
coreapi = "*"
coreschema = "*"
pymemcache = "*"
posthog = "*"
django-cache-machine = "*"
django-fancy-cache = "*"
pytest = "*"
pytest-django = "*"
pytest-profiling = "*"
isort = "*"
black = "*"
fcm-django = "==2.2.1"
# https://github.com/microsoft/azuredatastudio/issues/24436
traitlets = "==5.14.3"
pymupdf = "*"
django-sql-utils = "*"

[dev-packages]
jupyterlab = "*"
notebook = "==7.4.4"
matplotlib = "*"
scikit-learn = "*"
seaborn = "*"
pyOpenSSL = "*"

[requires]
python_version = "3.11"
